html {
  height: 100%;
  font-family: "Gabriola", "Times New Roman", serif;
  font-size: 22px;
}

body {
  height: 100%;
  background: black;
}


h1, h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: .5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}


p {
  padding-bottom: .25rem;
}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


img {
  height: 100%;
  width: auto;
}


.center {
  margin-left: auto;
  margin-right: auto;
}



.statistics {
  font-family: "Times New Roman", serif;
  font-size: 16px;
}


.quote {
  font-style: italic;
}
.quote::after, .quote::before {
  content: '"';
}



header {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(2, 0, 0),
     rgb(4, 1, 0),
     rgb(8, 2, 0),
     rgb(13, 2, 0),
     rgb(15, 2, 0),
     rgb(18, 3, 0),
     rgb(20, 4, 0),
     rgb(25, 5, 0),
     rgb(35, 7, 0),
     rgb(45, 10, 0),
     rgb(60, 20, 0),
     rgb(75, 30, 0),
     rgb(85, 40, 0),
     rgb(100, 50, 0),
     rgb(125, 63, 0)
    );
}

nav {
  height: 100%;
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

nav * {
  color: rgb(240, 220, 150);
}

nav a {
  max-height: 100%;
  height: 100%;
}

nav a img {
  max-height: 100%;
}

.dropdown, .dropdown-sub {
  position: relative;
}

.dropdown-left .dropdown-content {
  right: 0;
}

.dropdown-sub-left .dropdown-sub-content {
  right: 100%;
  left: auto;
}

.dropdown-content, .dropdown-sub-content {
  text-align: left;
  display: none;
  position: absolute;
  width: auto;
  background: black;
  box-shadow: 0 0 20px 10px rgba(200,100,0,0.5);
  padding: 16px 4px 8px 4px;
}

.dropdown-content {
  z-index: 2;
}

.dropdown-sub-content {
  z-index: 3;
  top: -16px;
  left: 100%;
}

.dropdown-content li {
  white-space: nowrap;
  padding: 0 8px 8px 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-sub:hover .dropdown-sub-content {
  display: block;
}

.dropdown-sub-content:hover .dropdown-sub-content {
  display: block;
}



#Main {
  height: 90%;
  background-image: linear-gradient(to top,
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(0, 0, 0),
     rgb(5, 0, 0),
     rgb(10, 0, 0),
     rgb(25, 0, 0),
     rgb(50, 5, 0),
     rgb(70, 15, 0),
     rgb(85, 30, 0),
     rgb(125, 63, 0)
    );
}


#ParchContainer {
  height: 100%;
  width: 90%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

#ParchTop {
  width: 90%;
  max-width: 850px;
  height: auto;
  position: fixed;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

#ParchScroll {
  height: 84.5%;
  max-width: 850px;
  width: 90%;
  position: fixed;
  top: 11%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#ParchMid {
  width: 95%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../Images/parchment_middle.png");
  background-size: contain;
  background-repeat: repeat-y;
  position: relative;
  overflow-x: visible;
}

#Content {
  width: auto;
  margin: 0 30px;
  padding: 10% 0 7.5% 0;
}

#ParchBtm {
  width: 90%;
  max-width: 850px;
  height: auto;
  position: fixed;
  bottom: 2%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}




#Summary {
  padding-bottom: 12px;
}


h4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  padding: .75rem 0 .5rem 0;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}
